@import "tailwindcss";

@theme {
    /* Primary Dark Blue */
    --color-primaryDarkBlue100: #001E57;
    --color-primaryDarkBlue90: #1A3568;
    --color-primaryDarkBlue80: #334B79;
    --color-primaryDarkBlue70: #4D628A;
    --color-primaryDarkBlue60: #66789A;
    --color-primaryDarkBlue50: #7F8EAA;
    --color-primaryDarkBlue40: #99A5BC;
    --color-primaryDarkBlue30: #B3BCCD;
    --color-primaryDarkBlue20: #CCD2DD;
    --color-primaryDarkBlue10: #E6E9EF;
    /* Primary Yellow  */
    --color-primaryYellow100: #F9C92C;
    --color-primaryYellow90: #FACF42;
    --color-primaryYellow80: #FAD456;
    --color-primaryYellow70: #FBDA6C;
    --color-primaryYellow60: #FBDF80;
    --color-primaryYellow50: #FBE395;
    --color-primaryYellow40: #FDE9AB;
    --color-primaryYellow30: #FEEFC0;
    --color-primaryYellow20: #FEF4D5;
    --color-primaryYellow10: #FFFAEA;
    /* White */
    --color-myWhite: #F9FAFB;
    /* Black */
    --color-myBlack: #1F1F1F;
}

* {
    font-family: Manrope;
}

html {
    scroll-behavior: smooth;
}

.responsive-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}

.btnBlue {
    color: var(--color-myWhite);
    background-color: var(--color-primaryDarkBlue100);
}

.btnBlue:hover {
    background-color: var(--color-primaryDarkBlue80);
}

.btnYellow {
    color: var(--color-myBlack);
    background-color: var(--color-primaryYellow100);
}

.btnYellow:hover {
    background-color: var(--color-primaryYellow80);
}

/* header style */
.header_btn {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    transition: all;
    transition-duration: 300ms;
    padding: 12px;
    text-align: center;
    border-radius: 10px;
}

/* footer style */
.footerText {
    color: var(--color-myBlack);
    transition: all;
    transition-duration: 200ms;
    font-weight: 400;
}

.footerText:hover {
    color: var(--color-primaryDarkBlue90);
}

/* media */
@media (min-width: 640px) {
    .responsive-padding {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 768px) {
    .responsive-padding {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 5rem;
    }
}